:root {
    --yellowLight: #E2FF00;
    --yellow: #FFCE00;
    --blue: #0765E3;
    --darkText: #07091A;
    --grayText: #707070;
}

* {
    box-sizing: border-box;
    outline: none;
}

html {
    // display: flex;
    // flex-direction: column;
    height: 100%;
    width: 100%;
    max-height: 100%;
    min-height: 0;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Roboto-Light, sans-serif;
    font-size: rem(16px);
    line-height: 1.2;
    color: var(--darkText);

    &.-no-scroll {
        overflow: hidden;
    }

    &>svg {
        display: none;
    }
}

.main-content {
    flex: 1 0 auto;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none
}

address {
    font-style: normal;
}

.wrapper-video {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
}

.wrapper-video embed,
.wrapper-video iframe,
.wrapper-video object {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.section-title {
    margin: 0;
    font-family: Roboto-Light, sans-serif;
    font-size: rem(40px);
    line-height: 1.2;
    font-weight: normal;
    text-align: center;

    &_left {
        text-align: left;
    }

    @media (max-width: 1023px) {
        font-size: rem(30px);
    }
    
    span {
        font-family: Roboto-Bold, sans-serif;

        &.italic {
            font-family: Roboto-MediumItalic, sans-serif;
            text-transform: uppercase;
        }
    }
    .italic {
        text-transform: uppercase;
        font-family: Roboto-LightItalic, sans-serif;
    }

    + .section-descr {
        margin-top: 20px;
    }
}

.section-descr {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: rem(16px);
    line-height: 1.125;
    text-align: center;
    color: var(--grayText);

    &_left {
        text-align: left;
    }

    + .second-page-subtitle {
        margin-top: 50px;
    }
}

.second-page-wrapper {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}

.second-page-subtitle {
    font-family: Roboto-LightItalic, sans-serif;
    font-size: rem(24px);
    color: var(--grayText);
}

.burger-menu {
    position: relative;
    width: 20px;
    height: 17px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    opacity: .7;
    cursor: pointer;

    &__inner {
        position: absolute;
        top: 50%;
        left: 0;
        padding: 0;
        width: 100%;
        height: 3px;
        background-color: #fff;
        transform: translateY(-50%);

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #fff;
        }

        &:before {
            top: 7px;
        }

        &:after {
            bottom: 7px;
        }
    }
}

.gradient-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-image: linear-gradient(to left, #f869ed 0%, #fd9215 100%);
    background-size: 300% 300%;
    animation: background-shift 5s ease infinite;
    transition: all 0.4s cubic-bezier(0.9, 0.1, 0.1, 0.9);
}

@keyframes background-shift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.main-btn {
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 19px 47px 17px 30px;
    border: none;
    border-radius: 25px;
    background-color: var(--blue);
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.2;
    color: #fff;
    transition: opacity .3s;
    cursor: pointer;

    &_yellow {
        background-color: var(--yellow);
        color: #000;
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 18px;
        display: inline-block;
        width: 12px;
        height: 12px;
        background-image: url('../img/ico-check-white.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
        transform: translateY(-50%);
    }

    &:hover {
        opacity: .9;
    }
}

.btn {
    display: inline-block;
    padding: 13px 15px;
    border: 1px solid var(--pink);
    border-radius: 20px;
    background-color: transparent;
    font-size: rem(12px);
    text-transform: uppercase;
    line-height: 1;
    color: var(--pink);
    cursor: pointer;
    transition: background-color .3s, color .3s;

    &_icon {
        position: relative;
        padding: 14px 40px 12px 30px;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 15px;
            display: block;
            background-repeat: no-repeat;
            background-position: 93% 50%;
            background-size: 11px;
            transform: translateY(-50%);
       }

    }

    &:hover {
        background-color: var(--pink);
        color: #fff;
    }
}

.dropdown-city {
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &_dark {
        .dropdown-city__current {
            color: #000;
            opacity: 1;

            &:after {
                background-image: url('../img/ico-dropdown-blue.svg');
            }
        }
    }

    &__current {
        position: relative;
        font-family: RobotoCondensed-Italic, sans-serif;
        text-transform: uppercase;
        text-decoration: underline;
        color: #fff;
        opacity: .5;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: -23px;
            width: 18px;
            height: 18px;
            transform: translateY(-50%);
            background-image: url('../img/ico-dropdown-black.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &__list {
        position: absolute;
        top: 20px;
        left: 0;
        padding: 10px;
        background-color: rgba(#0D0C0E, .9);
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
        transition: transform .3s, opacity .2s;

        &.open {
            transform: scaleY(1);
            opacity: 1;
        }
    }

    &__item {
        font-family: RobotoCondensed-Italic, sans-serif;
        font-size: rem(12px);
        text-transform: uppercase;
        line-height: 1.5;
        color: #fff;
        opacity: .5;
        transition: text-decoration .3s;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.main-list-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &_white {
        .main-list-menu__item {
            a {
                color: #000;
            }
        }
    }

    &__item {

        &:hover,
        &.active {
            a {
                background-color:var(--yellowLight);
                color: #000;
            }

        }

        a {
            display: inline-block;
            padding: 9px 21px 7px;
            font-family: RobotoCondensed-Italic, sans-serif;
            text-transform: uppercase;
            line-height: 1;
            letter-spacing: .04rem;
            color: #fff;
            transition: background-color .3s, color .3s;
            clip-path: polygon(0 100%, 5% 0, 100% 0, 95% 100%);


            @media (max-width: 1060px) {
                font-size: rem(13px);
            }
        }
    }
}


.form-title {
    text-align: center;
    color: #fff;
    opacity: .5;

    @media (max-width: 1024px) {
        display: none;
    }
}
.form-insurance-wrapper {
    padding: 55px 0 30px;
    background-color: #2E4857;

    @media (max-width: 1024px) {
        padding: 0;
    }

    &_mobile {
        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0;

            &.open {
                padding: 30px 20px 0;
            }
        } 
        
        .form-title {
            @media (max-width: 767px) {
                display: none;
            }    
        }

        .form-insurance {
            @media (max-width: 767px) {
                width: 100%;
                height: 0;
                padding: 0;
                overflow: hidden;
                visibility: hidden;
                opacity: 0;
                transition: height .3s;
            }
            

            &.open {
                padding: 10px 0 0;
                visibility: visible;
                opacity: 1;

                + .mobile-btn {
                    display: none;
                }
            }
        }

        .mobile-btn {
            display: none;

            @media (max-width: 767px) {
                display: block;
                margin: 10px auto;
            }

            &:after {
                content: '';
                background-image: url('../img/ico-double-arrow.svg');
            }
        }
    }
}
.form-insurance {
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 0;

        .main-input-field {
            margin-bottom: 20px;
        }
    }

    &__horzinontal {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 15px 30px;
        background-color: #2E4857;

        @media (max-width: 1070px) {
            flex-wrap: wrap;
        }

        @media (max-width: 1024px) {
            padding: 30px 15px 0;
        }

        .main-input {
            border-color: var(--grayText);
        }

        .main-input-field {
            max-width: 260px;

            @media (max-width: 1300px) {
                max-width: 150px;
            }

            @media (max-width: 700px) {
                max-width: 260px;
            }

            @media (max-width: 600px) {
                max-width: 100%;
                margin-bottom: 20px;
            }

            &:nth-of-type(2) {
                max-width: 120px;

                @media (max-width: 700px) {
                    max-width: 260px;
                }

                @media (max-width: 600px) {
                    max-width: 100%;
                }
            }

            &__label {
                top: 12px;
                font-size: rem(13px);
            }
            
            &_range {
                max-width: 400px;

                @media (max-width: 1070px) {
                    max-width: 612px;
                }

                @media (max-width: 700px) {
                    max-width: 533px;
                }

                @media (max-width: 600px) {
                    max-width: 100%;
                    margin-bottom: 30px;
                }
            }

            &_btn {
                flex-grow: 1;
                flex-shrink: 0;
                max-width: 260px;
                margin-bottom: 40px;

                @media (max-width: 1300px) {
                    max-width: 200px;
                }

                @media (max-width: 1070px) {
                    max-width: 100%;
                }
            }
        }      
        
        .main-btn {
            &_form-btn {
                margin: 0;
                padding-right: 75px;
                padding-left: 25px;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.51);
                background-color: var(--yellow);
                font-family: Roboto-Bold, sans-serif;
                color: #2E4857;

                @media (max-width: 1300px) {
                    padding-right: 36px;
                    padding-left: 20px;
                    font-size: rem(11px);
                }

                @media (max-width: 1070px) {
                    margin: 0 auto;
                }

                @media (max-width: 600px) {
                    padding-right: 45px;
                }

                &:after {
                    right: 25px;
                    width: 35px;
                    height: 15px;
                    background-image: url('../img/ico-twice-arrow.svg');
                    background-repeat: no-repeat;

                    @media (max-width: 1300px) {
                        right: 12px;
                        width: 20px;
                    }
                }
            }
        }
        
        .irs--flat {
            .irs-single {
                font-family: Roboto-Medium, sans-serif;

                @media (max-width: 1300px) {
                    font-size: rem(13px);
                }
            }
            .irs-handle {
                .handle-sircle {
                    border: 2px solid var(--grayText);
                }
            }
            .irs-line {
                background-color: var(--grayText);
                opacity: 1;
            }
        }

        .custom-select {
            .jq-selectbox {
                &__select {
                    font-family: Roboto-Medium, sans-serif;
                }

            }

            &.changed+.main-input-field__label,
            .value+.main-input-field__label {
                opacity: .6;
            }
        }
    }

    .range-slider {
        width: 100%;
        height: 2px;
    }
}

.main-input-field {
    position: relative;
    max-width: calc(260px - 14px);
    width: 100%;
    margin: 0 7px 50px;

    @media (max-width: 640px) {
        max-width: calc(530px - 25px);
    }

    &.value {
        .main-input-field__label {
            top: -10px;
            font-size: rem(12px);
        }
    }

    &_range {
        position: relative;
        display: flex;
        align-items: flex-end;
        max-width: calc(530px - 25px);
        height: 40px;        
    }

    &__label {
        position: absolute;
        top: 10px;
        left: 0;
        font-family: Roboto-Light, sans-serif;
        font-size: rem(15px);
        color: #fff;
        transition: top .3s, font-size .3s;
        pointer-events: none;
    }

    &__set-value {
        position: absolute;
        top: 45px;
        left: 0;
        font-family: Roboto-Light, sans-serif;
        font-size: rem(12px);
        color: var(--yellowLight);
        opacity: .6;

        ul {
            display: flex;
        }

        li {
            text-decoration: underline;
            cursor: pointer;
            
            &:not(:last-of-type) {
                margin-right: 5px;
            }
        }
    }
}

.main-input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid rgba(#fff, .6);
    background-color: transparent;
    font-family: Roboto-Light, sans-serif;
    font-size: rem(15px);
    color: #fff;

    &::-webkit-input-placeholder {
        color: #fff;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: #fff;
        opacity: 1;
    }

    &::-ms-input-placeholder {
        color: #fff;
        opacity: 1;
    }

    &:-moz-placeholder {
        color: #fff;
        opacity: 1;
    }

    &::-moz-placeholder {
        color: #fff;
        opacity: 1;
    }

    &::placeholder {
        color: #fff;
        opacity: 1;
    }

}

.custom-select {
    &.focused {
        .jq-selectbox__select {
            border: none;
        }
    }
    .jq-selectbox {
        
        &__select {
            height: 40px;
            padding: 0;
            border: none;
            border-radius: 0;
            box-shadow: none;
            background: transparent;
            background-color: transparent;
            font-family: Roboto-Light, sans-serif;
            font-size: rem(15px);
            text-shadow: none;
            color: #fff;

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        &__dropdown {
            border: none;
            background-color: rgba(#0D0C0E, .9);
            box-shadow: 0px 10px 10px #000;
            transition: transform .3s;
        }

        &__trigger {
            position: absolute;
            top: 50%;
            right: 0;
            width: 10px;
            height: 10px;
            border: none;
            transform: translateY(-50%);
            background-image: url('../img/ico-arrow-white.svg');
            background-repeat: no-repeat;
            background-size: contain;
            &-arrow {
                display: none;
            }
        }

        &__select-text {
            display: flex;
            align-items: center;
            width: 100% !important;
            height: 100%;

            @media (max-width: 1300px) {
                font-size: rem(13px);
            }

            &.placeholder {
                display: none;
            }
        }
        
    }

    li {
        position: relative;
        padding:10px 5px;
        border-bottom: 1px solid rgba(#fff, .2);
        font-family: Roboto-Light, sans-serif;
        font-size: rem(15px);
        line-height: 1.6;
        color: var(--yellowLight);
        opacity: .7;
        cursor: pointer;
        transition: opacity .3s;
    
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 15px;
            width: 10px;
            height: 5px;
            transform: translateY(-50%);
            background-image: url('../img/ico-checkbox-green.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
            opacity: 0;
            transition: opacity .3s;
        }
    
        &:hover {
            color: var(--yellowLight);
            background-color: transparent;
            opacity: 1;
    
            &:after {
                opacity: 1;
            }
        }

        &.selected {
            background-color: transparent;
            color: var(--yellowLight);
        }
    }

    &.changed,
    &.value {
       + .main-input-field__label {
            top: -10px;
            font-size: rem(12px);
        }
    }
}

.irs--flat {
    .irs-line {
        top: 1px;
        height: 1px;
        background-color: rgba(#fff, .7);
    }
    .irs-bar {
        background-color: transparent;
    }
    .irs-from,
    .irs-single,
    .irs-to {
        top: -28px;
        background-color: transparent;
        font-family: Roboto-Light, sans-serif;
        font-size: rem(15px);
        
        &::before {
            display: none;
        }
    }

    .irs-single {
        &.stop-right {
            left: auto!important;
            right: 0;
        }

        &.stop-left {
            right: auto!important;
            left: 130px !important;
        }
    }

    .irs-max,
    .irs-min {
        display: none;
    }

    .irs-handle {
        top: -14px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-right: -8px;
        border: none;
        background: 0 0;
        box-shadow: none;

        &.endMax {
            justify-content: flex-end;
        }

        &.endMin {
            justify-content: flex-start;
        }

        > i {
            &:first-child {
                display: none;
            }
        }
        .handle-sircle {
            width: 18px;
            height: 18px;
            border: 4px solid #000;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
        }
    }    
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    list-style: none;

    &_left {
        justify-content: flex-start;
        margin: 0;
    }

    &_white {
        .tags__item {
            border: 1px solid var(--blue);
            background-color: transparent;
            color: var(--blue);
        }
    }

    &__item {
        margin: 15px 4px;
        padding: 13px 25px 12px;
        border-radius: 45px;
        background-color: var(--blue);
        font-family: Roboto-Light, sans-serif;
        font-size: rem(15px);
        line-height: 1.6;
        color: #fff;

        a {
            color: #fff;
        }
    }
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(28, 32, 46, 0.7);

    &.open {
        display: block;
    }
}

.modal-block {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    display: none;
    width: 770px;
    max-width: 100%;
    height: 530px;
    max-height: 100%;
    border-radius: 26px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    /* If known, negative margins are probably better (less chance of blurry text). */
    /* margin: -200px 0 0 -200px; */

    &.open {
        display: block;
    }

    @media (max-width: 640px) {
        height: 400px;
    }

    &__title {
        font-family: SFProDisplay-Thin, sans-serif;
        font-size: rem(30px);
        text-transform: uppercase;
        text-align: center;
        line-height: 2.7;
        color: #000;

        @media (max-width: 640px) {
            font-size: rem(30px);
            line-height: 1.7;
        }

        @media (max-width: 420px) {
            font-size: rem(25px);
            line-height: 1.2;
        }
    }

    &__form-wrapper {
        margin-top: 55px;

        @media (max-width: 640px) {
            margin-top: 25px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 570px;
        width: 100%;
        margin: 0 auto;
    }

    &__privacy-block {
        position: relative;
        margin-top: 30px;
        color: #fff;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {
            display: none;
            &:checked {
                + p {
                    opacity: 1;
                }
            }
        }

        p {
            margin: 0;
            padding-right: 20px;
            font-size: rem(12px);
            opacity: .5;
            transition: opacity .3s;
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0px;
                width: 13px;
                height: 8px;
                background-image: url('../img/sprite/ico-checkbox.svg');
                background-repeat: no-repeat;
                transform: translateY(-50%);
            }
        }
    }

    .main-btn {
        margin-top: 35px;
    }
}

.modal-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 35px 20px;

    @media (max-width: 640px) {
        padding: 25px 20px;
    }
}

.offers-block {
    width: 100%;

    &__table {
        width: 100%;
        border-collapse: collapse;
    }

    &__item {
        padding: 55px 20px;
        border: 1px dashed #ccc;
        border-image-source: url(../img/line-bg.svg);
        border-image-slice: 2;
        border-image-repeat: repeat;
        border-left: 0;
        border-right:0;
        width: 100%;
        transition: box-shadow 0.3s;

        @media (max-width: 1023px) {
            padding: 30px 20px 25px;
        }

        &:hover {
            box-shadow: inset 0px 0px 23px -11px #333;
        }
        
        &:not(:first-of-type) {
            border-top: 0;
            background-image: linear-gradient(to top,#fff 87%,rgba(214,214,214,.8) 100%,rgba(128,128,128,.37) 100%);
            
            
        }

    }

    .sort-item {
        position: relative;
        font-size: rem(15px);
        line-height: 1.6;
        cursor: pointer;

        @media (max-width: 1200px) {
            font-size: rem(13px);
        }

        &.active {

            span {
                font-family: Roboto-Bold, sans-serif;
                text-decoration: none;

                &:after {
                    right: -5px;
                    width: 18px;
                    height: 18px;
                    background-image: url('../img/ico-arrow-sort.svg');
                }
            }
        }

        span {
            position: relative;
            display: inline-block;
            padding-right: 15px;
            text-decoration: underline;
            letter-spacing: 0.03rem;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0px;
                width: 10px;
                height: 10px;
                transform: translateY(-50%);
                background-image: url('../img/ico-arrow.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    .main-btn {
        max-width: 210px;
        padding-right: 35px;
        padding-left: 20px;

        @media (max-width:1200px) {
            height: 40px;
            font-size: rem(10px);

            &:after {
                right: 13px;
            }
        }
    }

    .offer-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .offer-cost {
        span {
            font-size: rem(34px);

            @media (max-width: 1200px) {
                font-size: rem(26px);
            }
        }
    }
}

.sort-item-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 20px;

    @media (max-width: 1023px) {
        display: none;
    }
}

.sort-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% - 200px) / 5 );

    @media (max-width: 1200px) {
        width: calc((100% - 180px) / 5);
    }
    
}

.offers-block__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media (max-width: 1023px) {
        flex-direction: column;
    }
}

.offer-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% - 200px) / 5);
    align-self: center;
    text-align: center;
    font-size: rem(20px);

    @media (max-width: 1200px) {
        width: calc((100% - 180px) / 5);
        font-size: rem(16px);
    }

    @media (max-width: 1023px) {
        width: 100%;
        margin-bottom: 20px
    }
    
    &_end {
        flex-basis: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-top: 25px;

        @media (max-width: 1200px) {
            flex-basis: 180px;
        }

        @media (max-width: 1023px) {
            flex-basis: 100%;
            justify-content: center;
            margin-bottom: 0;
        }
    }

    &_hidden {
        @media (max-width: 1023px) {
            display: none;
        }
    }

    span {
        font-family: Roboto-Bold, sans-serif;
    }
}

.offer-descr {
    flex-grow: 1;
    max-width: 925px;
    height: 0;
    margin: 0 auto;
    overflow: hidden;
    transition: height .3s;

    &__text {
        font-weight: normal;
        font-size: rem(20px);
        text-align: left;
        color: #707070;

        @media (max-width: 1200px) {
            font-size: rem(16px);
        }

    }

    &__links {
        a {
            font-weight: 300;
            font-size: rem(15px);
            letter-spacing: 0.03em;
            line-height: 24px;
            text-align: left;
            color: #0765e3;

            &:not(:last-of-type) {
                margin-right: 50px;
            }
        }
    }
}

.btn-more {
    position: relative;
    margin-top: 15px;
    border: none;
    background-color: transparent;
    font-weight: 300;
    font-size: rem(15px);
    letter-spacing: 0.03em;
    line-height: 1.2;
    text-align: left;
    color: #65757e;
    cursor: pointer;

    &.open {
        &::after {
            top: 8px;
            transform: rotate(0deg);
        }
    }

    &::after {
        content: '';
        position: absolute;
        right: -9px;
        top: 6px;
        width: 7px;
        height: 7px;
        transform: rotate(180deg);
        background-image: url('../img/ico-arrow-offer.svg');
        background-repeat: no-repeat;
        background-size: contain;
        transition: transform .3s;
    }
}


.main-wrapper-tags {
    padding-top: 25px;
    padding-bottom: 45px;
    border: 1px dashed #ccc;
    border-image-source: url(../img/line-bg.svg);
    border-image-slice: 2;
    border-image-repeat: repeat;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.step-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 1023px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.step-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    

    &:not(:last-of-type) {

        @media (max-width: 1023px) {
            margin-bottom: 70px;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: -20%;
            display: block;
            width: 24px;
            height: 12px;
            transform: translateY(-50%);
            background-image: url('../img/ico-arrow-step.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;

            @media (max-width: 1023px) {
                top: auto;
                right: auto !important;
                bottom: -50px;
                transform: rotate(90deg) translateY(0);
                
            }
        }
    }

    &:nth-of-type(1) {
        &:after {
            right: -30%;

            @media (max-width: 1200px) {
                right: -20%;
            }
        }
    }

    &:nth-of-type(2) {
        &:after {
            right: -20%;

            @media (max-width: 1200px) {
                right: -10%;
            }
        }
    }

    &__img {
        margin-bottom: 10px;
    }
    &__descr {
        margin: 0 auto;
        font-family: Roboto-Bold, sans-serif;
        font-size: rem(21px);
        text-align: center;
    }
}

.partners-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &__item {
        margin: 25px;
    }
}

