section.about-page
    .second-page-wrapper.about-page__wrapper
        .about-page__text
            h2.section-title 
                | Что такое 
                span.italic SportStrahovka
                i.italic .ru

            p.section-descr.section-descr_left Быстрое оформление, широкое покрытие. Решили застраховать жизнь от несчастного случая? Это очень верное решение, ведь никто не может предугадать разнообразные жизненные ситуации, когда она может пригодиться. Лучше быть готовым ко всему. А мы объясним, как приобрести самый выгодный полис.
            p.section-descr.section-descr_left Страхование жизни от несчастного случая могло бы стать серьёзным подспорьем в случае временной потери трудоспособности: страховая компания поможет не остаться вам и вашей семье без средств к существованию, если что-то произошло с кормильцем. Помните, что в таком случае вы не только теряете доход на неопределённое время, но вам ещё и предстоят траты на лекарства. То же касается и выплаты при инвалидности застрахованного – эти средства можно потратить как на дорогостоящее оборудование для улучшения качества жизни человека с ограничениями, так и на нужды его родных.
            p.section-descr.section-descr_left Задумайтесь о благополучии близких. Что они будут делать, если что-то непоправимое произойдёт с вами? Страхуя свою жизнь, вы проявляете заботу о тех, кто вам дорог.

        .about-page__tags
            p.second-page-subtitle.about-page__tags-title Страховки по видам спорта
            .tags.tags_left
                li.tags__item Страховка кровавый спорт
                li.tags__item Страховка хоккей
                li.tags__item Страховка стрит файтер
                li.tags__item Страховка дайвинг
                li.tags__item Страховка мортал комбат
                li.tags__item Страховка конный спорт
                li.tags__item Страховка дабл драгон


    
    .about-page__step
        p.section-title.about-page__step-title
            | Полис за 
            span 5 
            | минут

        ul.about-page__step-list.step-list
            li.step-item
                .step-item__img
                    img(src="img/step-1.png", alt="")
                p.step-item__descr 
                    | Укажите базовые параметры
                    br
                    |страховки
            li.step-item
                .step-item__img
                    img(src="img/step-2.png", alt="")
                p.step-item__descr 
                    |Выберите подходящее предложение
                    br
                    |от страховой компании 
            li.step-item
                .step-item__img
                    img(src="img/step-3.png", alt="")
                p.step-item__descr 
                    |Оплатите страховку на сайте 
                    br
                    |страховой компании

    p.second-page-wrapper.about-page__step-descr  Быстрое оформление, широкое покрытие. Решили застраховать жизнь от несчастного случая? Это очень верное решение, ведь никто не может предугадать разнообразные жизненные ситуации, когда она может пригодиться. Лучше быть готовым ко всему. А мы объясним, как приобрести самый выгодный полис.

    .about-page__partners
        h2.section-title Наши партнёры
        ul.partners-block__list.partners-list
            li.partners-list__item
                a(href="") 
                    img(src="img/partners/partner-1.png", alt="")
            li.partners-list__item
                a(href="") 
                    img(src="img/partners/partner-2.png", alt="")
            li.partners-list__item
                a(href="") 
                    img(src="img/partners/partner-3.png", alt="")
            li.partners-list__item
                a(href="") 
                    img(src="img/partners/partner-4.png", alt="")
            li.partners-list__item
                a(href="") 
                    img(src="img/partners/partner-5.png", alt="")
            li.partners-list__item
                a(href="") 
                    img(src="img/partners/partner-6.png", alt="")
