footer.main-footer
    .main-footer__wrapper
        .gradient-line.main-footer__line-gradient
        .main-footer__logo
            img(src="img/logo-black.svg", alt="sportstrahovki.ru")
            .main-footer__dropdown.dropdown-city.dropdown-city_dark
                span.dropdown-city__current Краснодар
                ul.dropdown-city__list
                    li.dropdown-city__item Москва
                    li.dropdown-city__item Барнаул
                    li.dropdown-city__item Караганда
        nav.main-footer__menu
            ul.main-list-menu.main-list-menu_white
                li.main-list-menu__item
                    a(href="") Главная
                li.main-list-menu__item
                    a(href="")  о сервисе
                li.main-list-menu__item
                    a(href="") партнёрам
                li.main-list-menu__item
                    a(href="") контакты
    .main-footer__copyright
        a(href="")
            | создание сайта 
            span PLATZKART