section.main-section-col
    .main-section-col__wrapper
        h2.section-title 
            | Что такое 
            span.italic SportStrahovka
            i.italic .ru

        .main-section-col__text
            p Решили застраховать жизнь от несчастного случая? Это очень верное решение, ведь никто не может предугадать разнообразные жизненные ситуации, когда она может пригодиться. Лучше быть готовым ко всему. А мы объясним, как приобрести самый выгодный полис.
            img(src="img/img-text.jpg", alt="")
            p Решили застраховать жизнь от несчастного случая? Это очень верное решение, ведь никто не может предугадать разнообразные жизненные ситуации, когда она может пригодиться. Лучше быть готовым ко всему. А мы объясним, как приобрести самый выгодный полис.
            p Страхование жизни от несчастного случая могло бы стать серьёзным подспорьем в случае временной потери трудоспособности: страховая компания поможет не остаться вам и вашей семье без средств к существованию, если что-то произошло с кормильцем. Помните, что в таком случае вы не только теряете доход на неопределённое время, но вам ещё и предстоят траты на лекарства. То же касается и выплаты при инвалидности застрахованного – эти средства можно потратить как на дорогостоящее оборудование для улучшения качества жизни человека с ограничениями, так и на нужды его родных.
            p Задумайтесь о благополучии близких. Что они будут делать, если что-то непоправимое произойдёт с вами? Страхуя свою жизнь, вы проявляете заботу о тех, кто вам дорог.