.page-partners
    .second-page-wrapper
        h2.section-title.section-title_left
            span Страховым компаниям
        p.section-descr.section-descr_left Быстрое оформление, широкое покрытие. Решили застраховать жизнь от несчастного случая? Это очень верное решение, ведь никто не может предугадать разнообразные жизненные ситуации, когда она может пригодиться. Лучше быть готовым ко всему. А мы объясним, как приобрести самый выгодный полис.
        p.section-descr.section-descr_left Страхование жизни от несчастного случая могло бы стать серьёзным подспорьем в случае временной потери трудоспособности: страховая компания поможет не остаться вам и вашей семье без средств к существованию, если что-то произошло с кормильцем. Помните, что в таком случае вы не только теряете доход на неопределённое время, но вам ещё и предстоят траты на лекарства. То же касается и выплаты при инвалидности застрахованного – эти средства можно потратить как на дорогостоящее оборудование для улучшения качества жизни человека с ограничениями, так и на нужды его родных.
        p.section-descr.section-descr_left Задумайтесь о благополучии близких. Что они будут делать, если что-то непоправимое произойдёт с вами? Страхуя свою жизнь, вы проявляете заботу о тех, кто вам дорог.

        h2.section-title.section-title_left 
            span Организаторам соревнований
        p.section-descr.section-descr_left Быстрое оформление, широкое покрытие. Решили застраховать жизнь от несчастного случая? Это очень верное решение, ведь никто не может предугадать разнообразные жизненные ситуации, когда она может пригодиться. Лучше быть готовым ко всему. А мы объясним, как приобрести самый выгодный полис.
        p.section-descr.section-descr_left Страхование жизни от несчастного случая могло бы стать серьёзным подспорьем в случае временной потери трудоспособности: страховая компания поможет не остаться вам и вашей семье без средств к существованию, если что-то произошло с кормильцем. Помните, что в таком случае вы не только теряете доход на неопределённое время, но вам ещё и предстоят траты на лекарства. То же касается и выплаты при инвалидности застрахованного – эти средства можно потратить как на дорогостоящее оборудование для улучшения качества жизни человека с ограничениями, так и на нужды его родных.

        h2.section-title.section-title_left 
            span Руководителям кружков
        p.section-descr.section-descr_left Быстрое оформление, широкое покрытие. Решили застраховать жизнь от несчастного случая? Это очень верное решение, ведь никто не может предугадать разнообразные жизненные ситуации, когда она может пригодиться. Лучше быть готовым ко всему. А мы объясним, как приобрести самый выгодный полис.
        p.section-descr.section-descr_left Страхование жизни от несчастного случая могло бы стать серьёзным подспорьем в случае временной потери трудоспособности: страховая компания поможет не остаться вам и вашей семье без средств к существованию, если что-то произошло с кормильцем. Помните, что в таком случае вы не только теряете доход на неопределённое время, но вам ещё и предстоят траты на лекарства. То же касается и выплаты при инвалидности застрахованного – эти средства можно потратить как на дорогостоящее оборудование для улучшения качества жизни человека с ограничениями, так и на нужды его родных.

        h2.section-title.section-title_left 
            span Наши партнёры
        ul.page-partners__list.partners-list
            li.partners-list__item
                a(href="") 
                    img(src="img/partners/partner-1.png", alt="")
            li.partners-list__item
                a(href="") 
                    img(src="img/partners/partner-2.png", alt="")
            li.partners-list__item
                a(href="") 
                    img(src="img/partners/partner-3.png", alt="")
            li.partners-list__item
                a(href="") 
                    img(src="img/partners/partner-4.png", alt="")
            li.partners-list__item
                a(href="") 
                    img(src="img/partners/partner-5.png", alt="")
            li.partners-list__item
                a(href="") 
                    img(src="img/partners/partner-6.png", alt="")
            li.partners-list__item
                a(href="") 
                    img(src="img/partners/partner-1.png", alt="")
            li.partners-list__item
                a(href="") 
                    img(src="img/partners/partner-2.png", alt="")
            li.partners-list__item
                a(href="") 
                    img(src="img/partners/partner-3.png", alt="")
            li.partners-list__item
                a(href="") 
                    img(src="img/partners/partner-4.png", alt="")
            li.partners-list__item
                a(href="") 
                    img(src="img/partners/partner-5.png", alt="")
            li.partners-list__item
                a(href="") 
                    img(src="img/partners/partner-6.png", alt="")

