.page-company
    img(src="img/logo-company.svg", alt="").page-company__logo
    .second-page-wrapper
        .page-company__text
            h2.section-title.section-title_left
                | Страховая компания 
                span Уралсиб

            p.section-descr.section-descr_left Быстрое оформление, широкое покрытие. Решили застраховать жизнь от несчастного случая? Это очень верное решение, ведь никто не может предугадать разнообразные жизненные ситуации, когда она может пригодиться. Лучше быть готовым ко всему. А мы объясним, как приобрести самый выгодный полис.
            p.section-descr.section-descr_left Страхование жизни от несчастного случая могло бы стать серьёзным подспорьем в случае временной потери трудоспособности: страховая компания поможет не остаться вам и вашей семье без средств к существованию, если что-то произошло с кормильцем. Помните, что в таком случае вы не только теряете доход на неопределённое время, но вам ещё и предстоят траты на лекарства. То же касается и выплаты при инвалидности застрахованного – эти средства можно потратить как на дорогостоящее оборудование для улучшения качества жизни человека с ограничениями, так и на нужды его родных.
            p.section-descr.section-descr_left Задумайтесь о благополучии близких. Что они будут делать, если что-то непоправимое произойдёт с вами? Страхуя свою жизнь, вы проявляете заботу о тех, кто вам дорог.

            p.second-page-subtitle Страховки по видам спорта

            p.section-descr.section-descr_left Быстрое оформление, широкое покрытие. Решили застраховать жизнь от несчастного случая? Это очень верное решение, ведь никто не может предугадать разнообразные жизненные ситуации, когда она может пригодиться. Лучше быть готовым ко всему. А мы объясним, как приобрести самый выгодный полис.
            p.section-descr.section-descr_left Страхование жизни от несчастного случая могло бы стать серьёзным подспорьем в случае временной потери трудоспособности: страховая компания поможет не остаться вам и вашей семье без средств к существованию, если что-то произошло с кормильцем. Помните, что в таком случае вы не только теряете доход на неопределённое время, но вам ещё и предстоят траты на лекарства. То же касается и выплаты при инвалидности застрахованного – эти средства можно потратить как на дорогостоящее оборудование для улучшения качества жизни человека с ограничениями, так и на нужды его родных.
            p.section-descr.section-descr_left Задумайтесь о благополучии близких. Что они будут делать, если что-то непоправимое произойдёт с вами? Страхуя свою жизнь, вы проявляете заботу о тех, кто вам дорог.Быстрое оформление, широкое покрытие. Решили застраховать жизнь от несчастного случая? Это очень верное решение, ведь никто не может предугадать разнообразные жизненные ситуации, когда она может пригодиться. Лучше быть готовым ко всему. А мы объясним, как приобрести самый выгодный полис.
            p.section-descr.section-descr_left Страхование жизни от несчастного случая могло бы стать серьёзным подспорьем в случае временной потери трудоспособности: страховая компания поможет не остаться вам и вашей семье без средств к существованию, если что-то произошло с кормильцем. Помните, что в таком случае вы не только теряете доход на неопределённое время, но вам ещё и предстоят траты на лекарства. То же касается и выплаты при инвалидности застрахованного – эти средства можно потратить как на дорогостоящее оборудование для улучшения качества жизни человека с ограничениями, так и на нужды его родных.
        .page-company__tags
            p.second-page-subtitle.page-company__tags-title Страховки по видам спорта
            .tags.tags_left
                li.tags__item
                    a(href="#") Страховка кровавый спорт
                li.tags__item Страховка хоккей
                li.tags__item Страховка стрит файтер
                li.tags__item Страховка дайвинг
                li.tags__item Страховка мортал комбат
                li.tags__item Страховка конный спорт
                li.tags__item Страховка дабл драгон

    .page-company__offers
        h2.section-title
            | Предложения от страховой компании
            span Уралсиб
        .offers-block   
            .offers-block__table
                .sort-item-wrapper
                    .sort-item
                        span 
                            | Страховая компания
                            i.icon-sort
                    .sort-item
                        span 
                            | Страховая компания
                            i.icon-sort
                    .sort-item
                        span 
                            | Страховая компания
                            i.icon-sort
                    .sort-item
                        span 
                            | Страховая компания
                            i.icon-sort
                    .sort-item
                        span 
                            | Страховая компания
                            i.icon-sort

                ul.offers-block__list
                    each val in [1, 2, 3, 4, 5]
                        li.offers-block__item
                            .offer-cell 
                                .offer-img
                                    img(src="img/image-1.png", alt="")
                            .offer-cell.offer-cell_hidden
                                .offer-date
                                    span 1 
                                    | год
                            .offer-cell.offer-cell_hidden
                                .offer-age подросток 18-35
                                
                            .offer-cell.offer-cell_hidden
                                .offer-sum
                                    span 200&nbsp;000 
                                    | р
                            .offer-cell 
                                .offer-cost
                                    | от 
                                    span 5&nbsp;070 
                                    | р
                            .offer-cell 
                                a(href="").main-btn.main-btn_yellow смотреть подробнее