.page-list-offers
    .form-insurance-wrapper.form-insurance-wrapper_mobile
        p.section-title.form-title Предложения для выбранных параметров:
        .form-insurance-empty
        form.form-insurance.form-insurance__horzinontal
            .main-input-field
                select(name="").custom-select.select-type-sport.main-input
                    option(value="")
                    option(value="конный спорт") конный спорт
                    option(value="плавание") махач
                    option(value="хокей") хокей
                    option(value="плавание") плавание
                .main-input-field__label Вид спорта
                
            .main-input-field
                select(name="").custom-select.select-period.main-input
                    option(value="")
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                .main-input-field__label Срок страховки
            .main-input-field
                select(name="").custom-select.select-age.main-input
                    option(value="")
                    option(value="подросток 12-18") подросток 12-18
                    option(value="взрослый 19-35") взрослый 19-35
                    option(value="старик 99-150") старик 99-150
                .main-input-field__label Возраст страхуемого
                
            .main-input-field
                select(name="").custom-select.select-country.main-input
                    option(value="")
                    option(value="сша") сша
                    option(value="канада") канада
                    option(value="россия") россия
                .main-input-field__label Страна
            .main-input-field.main-input-field_range
                input(type="text").range-slider-2.range-slider
                .main-input-field__label Сумма покрытия
            .main-input-field.main-input-field_btn
                button.main-btn.main-btn_form-btn показать предложения
        button#open-mobile-form.main-btn.mobile-btn параметры страховки
    .page-list-offers__wrapper-offers
        .offers-block   
            .offers-block__table
                .sort-item-wrapper
                    .sort-item
                        span 
                            | Страховая компания
                            i.icon-sort
                    .sort-item
                        span 
                            | Страховая компания
                            i.icon-sort
                    .sort-item
                        span 
                            | Страховая компания
                            i.icon-sort
                    .sort-item
                        span 
                            | Страховая компания
                            i.icon-sort
                    .sort-item
                        span 
                            | Страховая компания
                            i.icon-sort

                ul.offers-block__list
                    each val in [1, 2, 3, 4, 5]
                        li.offers-block__item
                            .offer-cell 
                                .offer-img
                                    img(src="img/image-1.png", alt="")
                            .offer-cell.offer-cell_hidden
                                .offer-date
                                    span 1 
                                    | год
                            .offer-cell.offer-cell_hidden
                                .offer-age подросток 18-35
                                
                            .offer-cell.offer-cell_hidden
                                .offer-sum
                                    span 200&nbsp;000 
                                    | р
                            .offer-cell 
                                .offer-cost
                                    | от 
                                    span 5&nbsp;070 
                                    | р
                            .offer-cell.offer-cell_end
                                a(href="").main-btn.main-btn_yellow смотреть подробнее

.form-insurance-wrapper
        p.section-title.form-title Изменить параметры страховки
    
        form.form-insurance.form-insurance__horzinontal
            .main-input-field
                select(name="").custom-select.select-type-sport.main-input
                    option(value="")
                    option(value="плавание") махач
                    option(value="конный спорт") конный спорт
                    option(value="хокей") хокей
                    option(value="плавание") плавание
                .main-input-field__label Вид спорта
                
            .main-input-field
                select(name="").custom-select.select-period.main-input
                    option(value="")
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                .main-input-field__label Срок страховки
            .main-input-field
                select(name="").custom-select.select-age.main-input
                    option(value="")
                    option(value="подросток 12-18") подросток 12-18
                    option(value="взрослый 19-35") взрослый 19-35
                    option(value="старик 99-150") старик 99-150
                .main-input-field__label Возраст страхуемого
                
            .main-input-field
                select(name="").custom-select.select-country.main-input
                    option(value="")
                    option(value="сша") сша
                    option(value="канада") канада
                    option(value="россия") россия
                .main-input-field__label Страна
            .main-input-field.main-input-field_range
                input(type="text").range-slider-2.range-slider
                .main-input-field__label Сумма покрытия
            .main-input-field.main-input-field_btn
                button.main-btn.main-btn_form-btn показать предложения