.partners-block
    h2.section-title Наши партнёры
    ul.partners-block__list.partners-list
        li.partners-list__item
            a(href="") 
                img(src="img/partners/partner-1.png", alt="")
        li.partners-list__item
            a(href="") 
                img(src="img/partners/partner-2.png", alt="")
        li.partners-list__item
            a(href="") 
                img(src="img/partners/partner-3.png", alt="")
        li.partners-list__item
            a(href="") 
                img(src="img/partners/partner-4.png", alt="")
        li.partners-list__item
            a(href="") 
                img(src="img/partners/partner-5.png", alt="")
        li.partners-list__item
            a(href="") 
                img(src="img/partners/partner-6.png", alt="")
    button.main-btn.open-popup стать партнером