section.steps-block
    h2.section-title 
        span Как оформить страховку ON–LINE
    p.section-descr Шишки, жёлуди, орешки!

    ul.steps-block__list.step-list
        li.step-item
            .step-item__img
                img(src="img/step-1.png", alt="")
            p.step-item__descr 
                | Укажите базовые параметры
                br
                |страховки
        li.step-item
            .step-item__img
                img(src="img/step-2.png", alt="")
            p.step-item__descr 
                |Выберите подходящее предложение
                br
                |от страховой компании 
        li.step-item
            .step-item__img
                img(src="img/step-3.png", alt="")
            p.step-item__descr 
                |Оплатите страховку на сайте 
                br
                |страховой компании