section.main-section-text
    .main-section-text__wrapper
        h2.section-title
            | Что такое 
            span.italic SportStrahovka
            i.italic .ru

        p.section-descr Быстрое оформление, широкое покрытие. Решили застраховать жизнь от несчастного случая? Это очень верное решение, ведь никто не может предугадать разнообразные жизненные ситуации, когда она может пригодиться. Лучше быть готовым ко всему. А мы объясним, как приобрести самый выгодный полис.
        p.section-descr Страхование жизни от несчастного случая могло бы стать серьёзным подспорьем в случае временной потери трудоспособности: страховая компания поможет не остаться вам и вашей семье без средств к существованию, если что-то произошло с кормильцем. Помните, что в таком случае вы не только теряете доход на неопределённое время, но вам ещё и предстоят траты на лекарства. То же касается и выплаты при

        .main-section-text__tags
            .main-section-text__tags-title Страховки по видам спорта
            ul.tags
                li.tags__item Страховка кровавый спорт
                li.tags__item Страховка хоккей
                li.tags__item Страховка стрит файтер
                li.tags__item Страховка дайвинг
                li.tags__item Страховка мортал комбат
                li.tags__item Страховка конный спорт
                li.tags__item Страховка дабл драгон
    .gradient-line.main-section-text__line-gradient